.sidebar {
	display: flex;
	flex-direction: column;
}

.logo {
	height: 20rem;
	width: 100%;
	background-color: #33c7a3;
	padding: 1rem;
	p {
		writing-mode: tb-rl;
		transform: rotate(180deg);
		font-size: 3.75rem;
		font-weight: 800;
	}
}

.nav {
	margin-top: 1rem;
	margin-bottom: auto;
	padding: 1rem;
}

.navList {
	li {
		text-align: center;
		svg {
			display: block;
			margin: auto;
			margin-bottom: 1rem;
			width: 4rem;
			height: 4rem;
		}
	}

	li:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.socials {
	display: flex;
	padding: 1rem;
}

.pixelIcon {
	width: 4rem;
	height: 4rem;
}
